@use "./sass/setup";
@use "./sass/variables" as *;

body {
    color: $textColor;
    background: $primaryColor;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}

h2 {
    font-family: $primaryFont;
    font-size: 30px;
    font-weight: 300;
    text-transform: uppercase;
}


header {
    background-image: url("../images/headermobile.jpg");
    background-size: cover;
    height: 100vh;
}

footer {
    background-color: black;
}

.primary {
    background-color: $primaryColor;
}

.secondary {
    background-color: $secondaryColor;
}

.inner-row {
    padding: 10% 5%;
}

.button {
    display: block;
    text-align: center;
    width: 100px;
    padding: 5px 10px;
    border: 2px solid $spotColor;
    font-family: $primaryFont;
    color: $textColor;
    line-height: 29px;
    text-transform: uppercase;
    margin-top: 5%;
}

.body-text {
    font-family: $secondaryFont;
    font-weight: 300;
    font-size: 16px;
    line-height: 29px;
}

.title {
    position: relative;
    top: 20%;
    z-index:1;
    h1 {
        font-family: $primaryFont;
        font-size: 64px;
        font-weight: 300;
        text-align: right;
        line-height: 64px;
        width: 50%;
    }
    h4 {
        font-family: $secondaryFont;
        font-weight: 300;
        font-size: 24px;
        text-align: right;
        
        color: $spotColor;
        width: 50%;
    }
}

.collection-border {
    border: 1px solid lightgrey;
    border-top: none;
    .collection-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 100px;
    }
    
    .collection {
        display: flex;
        align-items: center;
        width: 100%;
        gap: 10px;
    }
}

.midlinks {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 100px 0;
    .midlink-icon-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .midlink-icons {
        font-size: 48px;
        color: $spotColor;
        margin-bottom: 1rem;
    }
}



.sectionArticle {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.extra-image {
    display: none;
}

.footer{
    display: flex;
    flex-direction: column;
    h3 {
        font-family: $primaryFont;
        font-weight: 300;
        font-size: 24px;
        text-transform: uppercase;
    }
    p{
        font-family: $secondaryFont;
        
    }
    .footer-inner{
        display: flex;
        flex-direction: column;
        gap: 40px;
        .footer-nav{
            display: flex;
            justify-content: space-around;
            list-style: none;
            li {
                font-family: $secondaryFont;
                font-weight: 300;
                font-size: 24px;
            }
        }
        .subscribe {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;
            .subEmail {
                font-family: $secondaryFont;
                font-size: 24px;
                width: 100%;
                height: 50px;
                border: none;
                text-align: center;
                margin-bottom: 10px;
            }            
            .subButton {
                font-family: $primaryFont;
                font-size: 24px;
                text-transform: uppercase;
                border: none;
                color: white;
                background-color: black;
                text-align: center;
                width: 100%;
                height: 50px;
            }
        }
        .contact{
            display: flex; 
            flex-direction: column;
            align-items: center;
            gap: 8px;
        }
    }
    
}

.copyright {
    font-family: $secondaryFont;
    padding: 5%;
    text-align: center;
}

.container {
    max-width: 1050px;
    width: 90%;
    margin: auto;
  }
  

  // hamburger menu snippet from https://alvarotrigo.com/blog/hamburger-menu-css/

  .navbar {
    width: 100%;
  }
  
  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
  }
  
  .navbar .menu-items {
    display: flex;
  }
  
  .navbar .nav-container li {
    list-style: none;
  }
  
  .navbar .nav-container a {
    font-family: $primaryFont;
    text-decoration: none;
    text-transform: uppercase;
    color: $textColor;
    font-weight: 500;
    font-size: 2rem;
    padding: 0.7rem;
  }
  
  .navbar .nav-container a:hover{
      font-weight: bolder;
  }
  
  .nav-container {
    display: block;
    position: relative;
    height: 60px;
    z-index: 5;
  }
  
  .nav-container .checkbox {
    position: absolute;
    display: block;
    height: 32px;
    width: 32px;
    top: 20px;
    right: -10px;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
  }
  
  .nav-container .hamburger-lines {
    display: block;
    height: 26px;
    width: 32px;
    position: absolute;
    top: 17px;
    right: -10px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .nav-container .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: $textColor;
  }
  
  .nav-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
  }
  
  .nav-container .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
  }
  
  .nav-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
  }
  
  .navbar .menu-items {
    padding-top: 120px;
    background-color: rgba(0,0,0,0.8);
    box-shadow: inset 0 0 2000px rgba(0, 0, 0, 1);
    height: 100vh;
    width: 100%;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    margin-left: -40px;
    
    transition: transform 0.5s ease-in-out;
    text-align: center;
  }
  
  .navbar .menu-items li {
    margin-bottom: 1.2rem;
    font-size: 1.5rem;
    font-weight: 500;
  }
  
  .nav-container input[type="checkbox"]:checked ~ .menu-items {
    transform: translateX(0%);
  }
  
  .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    transform: rotate(45deg);
  }
  
  .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
  }
  
  .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-45deg);
  }
  
  .nav-container input[type="checkbox"]:checked ~ .logo{
    display: none;
  }

  // END